:root {
	--main-dark: #243a5e;
	--main-darker: #1b2e4b;
	--highlight: #2fb9a7;
	--highlight-soft: rgba(47, 185, 167, 0.35);
	--text-light: #ffffff;
	--text-dark: #1f2933;
	--muted-light: #dbe4ff;
	--muted-dark: #6b7280;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	background: white;
	color: var(--text-dark);
}

/* PAGE */
.page {
	width: 210mm;
	height: 297mm;
	margin: auto;
	background: white;
	overflow: hidden;
}

/* HEADER */
.header {
	background: var(--main-dark);
	color: var(--text-light);
	padding: 16mm;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
	z-index: 1;
}

.identity h1,
.header h1 {
	font-size: 22px;
	letter-spacing: 0.4px;
	vertical-align: middle;
}

.subtitle {
	font-size: 11px;
	color: var(--muted-light);
	margin-top: 2mm;
}

.contact span {
	display: block;
	font-size: 10px;
}

/* MAIN LAYOUT */
.layout {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.row {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-auto-rows: auto 1fr;
}

.stretch {
	flex: 1 1 100%; /* This box stretches to take up the remaining space */
}

/* SIDEBAR */
.sidebar {
	background: var(--main-darker);
	color: var(--text-light);
	padding: 1em 1em;
}

/* ENTRIES */
.entry {
	position: relative;
	padding: 3mm 14mm;
}

.lead {
	font-size: 10.5px;
}

/* TYPOGRAPHY */
h3 {
	font-size: 11px;
	margin-top: 2mm;
}

.meta {
	font-size: 9px;
	color: var(--muted-dark);
}

p,
li {
	font-size: 10px;
	line-height: 1.45;
}

ul {
	padding-left: 16px;
}

/* SECTION SEPARATORS */
.row-separator {
	border: none;
	border-top: 5px solid var(--highlight);
	width: 35%;
	border-radius: 3;
}

/* PRINT OPTIMIZATION */
@media print {
	body,
	.page {
		size: A4;
		margin: 0;
		print-color-adjust: exact;
	}
}
